@model online_Hall_Booking.Models.Hall

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}



<div class="text-center">
    <h4>Hall</h4>
    </div>
    <hr />
    <div class="d-flex justify-content-center">
        <div class="form-row">
            <form enctype="multipart/form-data" asp-action="Create" class="align-content-center">
                >
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="Address" class="control-label"></label>
                        <input asp-for="Address" class="form-control" />
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="decription" class="control-label"></label>
                    <input asp-for="decription" class="form-control" />
                    <span asp-validation-for="decription" class="text-danger"></span>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label name="file1" class="control-label">Cover</label>
                        <input type="file" name="file1" accept="image/*" />
                    </div>
                    <div class="form-group col-md-6">
                        <label name="file2" class="control-label">Logo</label>
                        <br />
                        <input type="file" name="file2" accept="image/*" />
                    </div>
                </div>


                @*<div class="form-group">
                        <label asp-for="cId" class="control-label"></label>
                        <input asp-for="cId" class="form-control" />
                        <span asp-validation-for="cId" class="text-danger"></span>
                    </div>*@
                <div class="form-group">
                    <label asp-for="CId" class="control-label"> Halls</label>
                    <select asp-for="CId" class="form-control" asp-items="ViewBag.CId"></select>

                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                    <div class="form-group col-md-6">
                        <a asp-action="Index" class="btn btn-warning">Back to Hall</a>
                    </div>
                </div>
            </form>
        </div>
    </div>




