
@{
    ViewData["Title"] = "ContactUs";
    Layout = "~/Views/Shared/CustomerLTE/_Layout_Customer.cshtml";
}



<!------ Include the above in your HEAD tag ---------->



<div class="container-fluid">
    <h1 class="text-center">Contact Address</h1>
    <hr>
    <div class="row">
        <iframe src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=pucit%20Lahore+(Smart%20Marital%20Contractor%20system)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed" style="width:1500px; height:320px; border:0" frameborder="0" allowfullscreen></iframe>
       
    </div>
    <div class="row text-center">
        <div class="col-4 box1 pt-4" style="        background-color: lightgreen;">
            <a href="tel:+123456789">
                <i class="fas fa-phone fa-3x"></i>
                <h3 class="d-none d-lg-block d-xl-block">Phone</h3>
                <p class="d-none d-lg-block d-xl-block">+123456789</p>
            </a>
        </div>
        <div class="col-4 box2 pt-4" style=" background-color: ghostwhite;">
            <a href="">
                <i class="fas fa-home fa-3x"></i>
                <h3 class="d-none d-lg-block d-xl-block">Address</h3>
                <p class="d-none d-lg-block d-xl-block">Piazza del Colosseo, 1, 00184 Roma RM</p>
            </a>
        </div>
        <div class="col-4 box3 pt-4" style="  background-color: lightpink;">
            <a href="mailto:test@test.com">
                <i class="fas fa-envelope fa-3x"></i>
                <h3 class="d-none d-lg-block d-xl-block">E-mail</h3>
                <p class="d-none d-lg-block d-xl-block">test@test.com</p>
            </a>
        </div>
    </div>
</div>



<div class="row text-center  text-white" style=" background-color: blue;margin-bottom:50px" id="author">
    <div class="col-12 mt-4 h3 ">
        <a href="#" class="text-white">by P. Fattoruso</a>
    </div>
    <div class="col-12 my-2">
        <a href="https://www.linkedin.com/in/paolofattoruso/" target="_blank" class="text-white "><i class="fab fa-facebook-f fa-3x"></i></a>
    </div>
</div>
